aliases:
  - &is_main_branch
      equal: [ main, << pipeline.git.branch >> ]

commands:
  install_rust_toolchain:
    description: Install a rust toolchain
    steps:
      - run:
          name: Download rust
          command: |
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --default-toolchain nightly-2023-01-24 -y

  init_opam:
    description: Initialize opam
    steps:
      - run:
          name: Init opam
          command: |
            opam init --compiler=4.14.0 --disable-sandboxing -y

  setup_ocaml_tp:
    description: Write symlinks shim/third-party/ocaml
    steps:
      - run:
          name: Setup third-party/ocaml directory
          command: |
            # Assumes OPAM_SWITCH_PREFIX has been set already.
            ./ocaml-setup.sh

  setup_linux_env:
    description: Linux installation steps
    steps:
      - install_rust_toolchain
      - run:
          name: Aptitude install
          command: |
            sudo apt-get update
            sudo apt-get install libssl-dev cmake clang lld opam
      - init_opam
      - run:
          name: Set environment variables
          command: |
            echo 'source "$HOME"/.cargo/env' >> "$BASH_ENV"
            echo 'eval $(opam env)' >> "$BASH_ENV"
      - run:
          name: Examine environment
          command: |
            env
      - setup_ocaml_tp

  setup_macos_env:
    description: macOS installation steps
    steps:
      - install_rust_toolchain
      - run:
          name: Brew install
          command: |
            # Avoid `brew link` step errors
            rm -f '/usr/local/lib/python3.9/site-packages/six.py'
            brew unlink python@3.9
            brew install cmake coreutils opam llvm
      - init_opam
      - run:
          name: Set environment variables
          command: |
            echo 'source "$HOME"/.cargo/env' >> "$BASH_ENV"
            echo 'eval $(opam env)' >> "$BASH_ENV"
            echo 'export PATH=/usr/local/opt/llvm/bin:"$PATH"' >> "$BASH_ENV"
      - setup_ocaml_tp

  cargo:
    description: Use cargo to build & test
    steps:
      - run:
          name: Cargo build & test
          command: |
            cargo build
            cargo test

  install_buck:
    description: Use cargo to install buck
    steps:
      - run:
          name: Install buck
          command: |
            cargo +nightly-2023-01-24 install --git https://github.com/facebook/buck2.git buck2 --force

  install_reindeer:
    description: Use cargo to install reindeer
    steps:
      - run:
          name: Install reindeer
          command: |
            cargo +nightly-2023-01-24 install --git https://github.com/facebookincubator/reindeer.git reindeer --force

  reindeer:
    description: Use reindeer to vendor & buckify rust 3rd-party deps
    steps:
      - run:
          name: Run reindeer steps
          command: |
            reindeer --third-party-dir shim/third-party/rust vendor
            reindeer --third-party-dir shim/third-party/rust buckify

  buck_tp:
    description: Use buck to build third-party deps
    steps:
      - run:
          name: Build 3rd party rust.
          command: |
            buck2 build shim//third-party/... -v 2

  buck_ocamlrep:
    description: Use buck to build ocamlrep
    steps:
      - run:
          name: Build ocamlrep.
          command: |
            buck2 build root//... -v 7

version: 2.1
orbs:
  rust: circleci/rust@1.6.0
jobs:
  linux-cargo-build-and-test:
    description: |
      Linux cargo build & test
    docker:
      - image: cimg/rust:1.65.0
    resource_class: xlarge
    steps:
      - checkout
      - setup_linux_env
      - cargo

  macos-cargo-build-and-test:
    description: |
      macOS cargo build & test
    macos:
      xcode: 13.4.1
    resource_class: macos.x86.medium.gen2
    steps:
      - checkout
      - setup_macos_env
      - cargo

  linux-buck-build:
    description: |
      Linux buck build
    docker:
      - image: cimg/rust:1.65.0
    resource_class: xlarge
    steps:
      - checkout
      - setup_linux_env
      - install_buck
      - install_reindeer
      - reindeer
      - buck_tp
      - buck_ocamlrep

  macos-buck-build:
    description: |
      macOS buck build
    macos:
      xcode: 13.4.1
    resource_class: macos.x86.medium.gen2
    steps:
      - checkout
      - setup_macos_env
      - install_buck
      - install_reindeer
      - reindeer
      - buck_tp
      - buck_ocamlrep

workflows:
  build-test:
    jobs:
      - linux-cargo-build-and-test
      - macos-cargo-build-and-test
      - linux-buck-build
      - macos-buck-build
